# Entornos virtuales
venv/
*.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Puntos de control de Jupyter Notebook
.ipynb_checkpoints/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
